<div class="container-fluid" id="main">
  <div class="container">
    <nav class="navbar navbar-expand-sm navbar-light">
      <a href="#" class="navbar-brand">
        <h1 class="ml-lg-2 heading">Core-mind</h1>
      </a>
      <button class="navbar-toggler d-lg-none bg-white" type="button" data-toggle="collapse" data-target="#collapse_nav"
        aria-controls="collapse_nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-md-flex justify-content-end" id="collapse_nav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="#home" class="nav-link ml-lg-4" id="link_one">Home</a>
          </li>
          <li class="nav-item">
            <a href="#about" class="nav-link ml-lg-4" id="link_one">About</a>
          </li>
          <li class="nav-item">
            <a href="#feature" class="nav-link ml-lg-4" id="link_one">Features</a>
          </li>
          <li class="nav-item">
            <a href="#skil" class="nav-link ml-lg-4" id="link_one">Skills</a>
          </li>
          <li class="nav-item">
            <a href="#gal" class="nav-link ml-lg-4" id="link_one">Gallary</a>
          </li>
          <li class="nav-item">
            <a href="#frm" class="nav-link ml-lg-4" id="link_one">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>

<div class="back-img">
  <div class="container text-center mt-5 pt-5">
    <h1 class="mt-5 pt-5 txt">CORE-MIND SOLUTION</h1>
    <h2 class=" heading2">We are a Professional Developers</h2>
    <button mat-raised-button class="mt-2 btn">Click Button</button>
  </div>
</div>

<div id="about" class="container mt-5" [@slideInOut]="isVisible ? 'in' : 'out'">
  <div class="row mt-5">
    <div class="col-md-6">
      <img class="w-100" src="../../imgs/pic1.png" alt="">
      <!-- <div data-aos="zoom-in" style="transition: 0.8s;">
      </div> -->
    </div>
    <div class="col-md-6 mt-5 text-center p-5">
      <h1><span class="heading-black p-2">About Us</span> </h1>
      <p class="mt-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim maiores consequatur aliquam
        corporis, cupiditate amet facilis molestiae temporibus optio assumenda accusantium corrupti soluta minus
        doloribus neque? Ea ipsam aut alias.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam repellendus harum unde repudiandae fugiat et
        quia reiciendis dolorum accusantium dolor aperiam voluptatem sed distinctio vero, facere corporis quasi nam
        reprehenderit.</p>
    </div>
  </div>
</div>

<div id="feature" class="container mt-5">
  <div class="row">
    <div class="col-md-4 text-center">
      <img src="imgs/software.png" class="w-25" alt="">
      <h3 class="heading2">Web development</h3>
    </div>
    <div class="col-md-4 text-center">
      <img src="imgs/mobile-development.png" class="w-25" alt="">
      <h3 class="heading2">App Development</h3>
    </div>
    <div class="col-md-4 text-center">
      <img src="imgs/mobile-development.png" class="w-25" alt="">
      <h3 class="heading2">App Development</h3>
    </div>
    <div class="col-md-4 mt-3 text-center">
      <img src="imgs/software.png" class="w-25" alt="">
      <h3 class="heading2">Web development</h3>
    </div>
    <div class="col-md-4 mt-3 text-center">
      <img src="imgs/mobile-development.png" class="w-25" alt="">
      <h3 class="heading2">App Development</h3>
    </div>
    <div class="col-md-4 mt-3 text-center">
      <img src="imgs/mobile-development.png" class="w-25" alt="">
      <h3 class="heading2">App Development</h3>
    </div>
  </div>
</div>

<div class="tech-section">
  <div class="container-fluid tech-img mt-5">
    <h1 class="heading text-center p-5">We Work on all These Techologies</h1>
    <div class="row">
      <div class="container text-center p-5 mb-5">
        <img class="tech-icon" src="imgs/programing.png" alt="">
        <img class="tech-icon mx-4" src="imgs/atom.png" alt="">
        <img class="tech-icon" src="imgs/c-sharp.png" alt="">
        <img class="tech-icon mx-4" src="imgs/nodejs.png" alt="">
        <img class="tech-icon" src="imgs/python.png" alt="">
        <img class="tech-icon mx-4" src="imgs/social.png" alt="">
        <img class="tech-icon" src="imgs/web.png" alt="">
      </div>
    </div>
  </div>
</div>

<div class="container pt-5 mt-5">
  <div class="row">
    <div class="col-md-6">
      <h3 class="heading-black mt-5">Introduce New Feature & New Techniques</h3>
      <p class="mt-5 heading2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, odit! Perferendis
        explicabo quia
        dolorum suscipit atque eius voluptas maxime alias doloribus? Mollitia ipsum tenetur ea. Lorem ipsum, dolor sit
        amet consectetur adipisicing elit. Saepe perferendis architecto consequatur facere at iste eligendi facilis,
        error dignissimos praesentium nesciunt. Dolorum eum quam officiis!</p>
      <!-- <button class="btn btn-outline-primary">Let's Check</button> -->
      <button mat-raised-button class="mt-1 btn">Let's Check</button>
    </div>
    <div class="col-md-6">
      <img src="imgs/4380747.jpg" class="w-100">
    </div>
  </div>
</div>

<!-- <div class="grey-bg c-no container-fluid"> -->
<div class="container">
  <div class="row" id="counter">
    <div class="col-sm-4 counter-Txt">
      <div class="fa fa-user fa-3x"></div>
      <p class="heading2 mt-3">Customer</p>
      <span class="counter-value" data-count="8">0</span>
    </div>
    <div class="col-sm-4 counter-Txt">
      <div class="fa fa-trophy fa-3x"></div>
      <p class="heading2 mt-3">achievement</p>
      <span class="counter-value" data-count="5">0</span>
    </div>
    <div class="col-sm-4 counter-Txt">
      <div class="fa fa-truck fa-3x"></div>
      <p class="heading2 mt-3">Deliverd</p>
      <span class="counter-value" data-count="20">0</span>
    </div>


  </div>
</div>



<div class="container text-center align-item-center mt-5 pt-5">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="box">
          <div class="content">
            <h2>01</h2>
            <h3 class="text-light">Card one</h3>
            <p class="text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing Lorem ipsum dolor Lorem
              ipsum
              dolor sit, amet consectetur adipisicing .</p>
            <button mat-raised-button class="mt-1 btn">Read More</button>
          </div>
        </div>
      </div>
    </div>



    <div class="col-md-4">
      <div class="card">
        <div class="box">
          <div class="content">
            <h2>02</h2>
            <h3 class="text-light">Card two</h3>
            <p class="text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing Lorem ipsum dolor sit, amet
              consectetur adipisicing elit. Dolorum..</p>
            <!-- <button class="btn btn-outline-primary">Readmore</button> -->
            <button mat-raised-button class="mt-1 btn">Read More</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="box">
          <div class="content">
            <h2>03</h2>
            <h3 class="text-light">Card three</h3>
            <p class="text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing Lorem ipsum dolor sit amet
              consectetur adipisicing elit. Vel..</p>
            <button mat-raised-button class="mt-1 btn">Read More</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="banner">
  <div id="content">
    <div class="container-fluid">
      <div id="gal" class="container mt-5 pt-5">
        <h2 class="text-center"><span class="p-2 heading-black">Gallery</span></h2>
        <div class="row mt-5">
          <div class="col-md-4 p-5">
            <img class="gal-img" width="100%" src="imgs/work-1.jpg">
          </div>
          <div class="col-md-4 p-5"><img class="gal-img" width="100%" src="imgs/work-2.jpg"></div>
          <div class="col-md-4 p-5"><img class="gal-img" width="100%" src="imgs/work-3.jpg"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-4 p-5"><img class="gal-img" width="100%" src="imgs/work-4.jpg"></div>
          <div class="col-md-4 p-5"><img class="gal-img" width="100%" src="imgs/work-5.jpg"></div>
          <div class="col-md-4 p-5"><img class="gal-img" width="100%" src="imgs/work-6.jpg"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<h1 class="heading-black text-center mt-5 pt-5">Testimonials</h1>
<div class="wrapper">
  <div class="review-card">
    <div class="header-content">
      <div class="img-area">
        <img alt="customer1" src="../../imgs/gitl-removebg-preview.png">
      </div>
      <div class="info">
        <h4>Mohsin</h4>
        <p>Maketing Manager</p>
      </div>
    </div>
    <div class="single-review">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo dolor eveniet deleniti repellendus! Minima, dolorum.</p>
    </div>
    <div class="review-footer">
      <div class="rating">
        <span class="active">★</span> 
        <span class="active">★</span> 
        <span class="active">★</span> 
        <span class="">★</span> 
        <span class="">★</span>
      </div>
      <p>Reviewed on 01/01/2023</p>
    </div>
  </div>
  <div class="review-card mx-5">
    <div class="header-content">
      <div class="img-area">
        <img alt="customer1" src="../../imgs/gitl-removebg-preview.png">
      </div>
      <div class="info">
        <h4>Mark Wood</h4>
        <p>Graphics Expert</p>
      </div>
    </div>
    <div class="single-review">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo dolor eveniet deleniti repellendus! Minima, dolorum.</p>
    </div>
    <div class="review-footer">
      <div class="rating">
        <span class="active">★</span> 
        <span class="active">★</span> 
        <span class="">★</span> 
        <span class="">★</span> 
        <span class="">★</span>
      </div>
      <p>Reviewed on 01/02/2023</p>
    </div>
  </div>
  <div class="review-card">
    <div class="header-content">
      <div class="img-area">
        <img alt="customer1" src="../../imgs/gitl-removebg-preview.png">
      </div>
      <div class="info">
        <h4>Jason Chedd</h4>
        <p>Web Designer</p>
      </div>
    </div>
    <div class="single-review">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo dolor eveniet deleniti repellendus! Minima, dolorum.</p>
    </div>
    <div class="review-footer">
      <div class="rating">
        <span class="active">★</span> 
        <span class="active">★</span> 
        <span class="active">★</span> 
        <span class="active">★</span> 
        <span class="active">★</span>
      </div>
      <p>Reviewed on 01/03/2023</p>
    </div>
  </div>
</div>






<footer>
  <div id="footer" class="jumbotron">
    <ul class="in-line">
      <li><a href="#"><span id="icn1"><i class="fab fa-facebook"></i></span></a></li>
      <li><a href="#"><span id="icn2"><i class="fab fa-twitter"></i></span></a></li>
      <li><a href="#"><span id="icn3"><i class="fab fa-instagram"></i></span></a></li>
    </ul>
    <span class="copyright text-light">&#169; Untitled . All rights reserved. Design By <a class="text-info"
        href="http://coremindsolution.com">Core Mind Solutions</a></span>
  </div>
</footer>